repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: check-xml
  - id: check-json
  - id: requirements-txt-fixer
  - id: end-of-file-fixer
    exclude: '^.obsidian/'
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: check-added-large-files
  # - id: detect-aws-credentials
  - id: detect-private-key
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
  - id: mypy
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
    - id: ruff-check
      args: [
        --fix,
        --extend-select,
        "I,UP",
        --unsafe-fixes
      ]
    - id: ruff-format
